@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #000000;
    width: 100%;
    height: 5rem;
    padding: 1rem 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 0.09rem solid;
    border-color: rgb(78, 80, 87);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    
}

header.rolagem{
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: transparent;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.589);
    z-index: 1000;
    
}

.logo img {
    
    width: 10rem;
    height: 10rem;
}

.bar-categoria nav {
    display: flex;
    gap: 1rem;
    font-weight: bold;
}

.bar-categoria nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1rem;
    padding: 0 0 15px 0;
    position: relative;
}

.bar-categoria nav a::after {
    content: " ";
    width: 0%;
    height: 0.2rem;
    background-color: silver;
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    transition: 0.5s ease-in-out;

}

.bar-categoria nav a:hover::after {
    width: 100%;
}



